html,
body {
  height: 100%;
  background-color: #dbeef4;
}
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -120px;
  padding: 50px 0 100px;
}
#footer {
  height: 80px;
}
.container {
  width: auto;
  max-width: 960px;
  padding: 0 15px;
}
.container .credit {
  margin: 20px 0;
}
.text-dark {
  color: #31859c;
}
.text-light {
  color: #dbeef4;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body label,
body a {
  color: #31859c;
}
body button.btn-default {
  background-color: #31859c;
  color: #dbeef4;
}
body button.btn-default:hover {
  background-color: #dbeef4;
  color: #31859c;
}
.logo-home {
  margin-top: 50px;
  width: 400px;
}
.logo-header {
  height: 50px;
}
.truly-map {
  position: absolute;
  top: 73px;
}
.navbar {
  background-color: #31859c;
}
.navbar i {
  color: #dbeef4;
  margin-top: 10px;
  margin-left: 20px;
}
.circle {
  color: #31859c;
}
.header-bar {
  background-color: #31859c;
  height: 50px;
}
