html,
body {
  height: 100%;
  background-color: #dbeef4;
}
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -120px;
  padding: 50px 0 100px;
}
#footer {
  height: 80px;
}
.container {
  width: auto;
  max-width: 960px;
  padding: 0 15px;
}
.container .credit {
  margin: 20px 0;
}
.text-dark {
  color: #31859c;
}
.text-light {
  color: #dbeef4;
}
body h1 {
  margin-top: 40px;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body label,
body a {
  color: #31859c;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
body button.btn-default {
  background-color: #31859c;
  color: #dbeef4;
}
body button.btn-default:hover {
  background-color: #dbeef4;
  color: #31859c;
}
.logo-home {
  margin-top: 50px;
  width: 400px;
}
.logo-header {
  height: 50px;
}
.truly-side-simbol {
  float: right;
  margin-top: 25px;
  height: 200px;
  text-align: center;
}
.truly-map {
  position: absolute;
  top: 73px;
}
.navbar {
  background-color: #31859c;
}
.navbar i {
  color: #dbeef4;
  margin-top: 10px;
  margin-left: 20px;
}
.circle {
  color: #31859c;
}
.header-bar {
  background-color: #31859c;
  height: 50px;
}
#map-canvas {
  margin-top: 30px;
  height: 400px;
}
.donation {
  margin-top: 10px;
  background-color: #31859c;
}
.donation .col-xs-6 {
  padding-left: 0px;
}
.donation h1,
.donation h2,
.donation h3,
.donation h4,
.donation h5,
.donation h6,
.donation p,
.donation label,
.donation a {
  color: #dbeef4;
}
.donation h4,
.donation p {
  margin-bottom: 0px;
  margin-top: 5px;
}
.donnation-pic {
  height: 70px;
}
