@white: #F5FDFF;
@light: #dbeef4;
@dark: #31859c;



html,body {
    height: 100%;
    background-color: @light;
}
#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -120px;
    padding: 50px 0 100px;
}
#footer {
    height: 80px;
}
.container {
    width: auto;
    max-width: 960px;
    padding: 0 15px;
    .credit {
        margin: 20px 0;
    }
}

.text-dark {
  color: @dark;
}
.text-light {
  color: @light;
}

// Customize

.navbar {
  background-color: @dark;
}

p, label, a {
    color: @dark;
}
.circle {
    color: @dark;
}

.header-bar {
  background-color: @dark;
  height: 50px;
}